.lobster-regular {
  font-family: "Lobster", sans-serif;
  font-style: normal;
}
body {
  font-family: "Lora", serif;
}
.gradient-bg {
  background-image: linear-gradient(
    to bottom,
    #ffffff,
    #ffffff,
    #ffffff,
    #ffffff,
    #ffffff,
    #f6f8ff,
    #e9f2ff,
    #d7edff,
    #a2e5fc,
    #5fdee8,
    #00d4c2,
    #00c78a
  );
}
